/TaskManagementApp.Api/bin/
/TaskManagementApp.Api/obj/
/TaskManagementApp.Api/.idea/
/TaskManagementApp.Api/.vscode/
/TaskManagementApp.Api/appsettings.json
/TaskManagementApp.Api/appsettings.Development.json
/TaskManagementApp.Api/appsettings.Production.json
*.log
*.swp
*.suo
*.user
*.tmp
*.bak
*.ncb
*.dbmdl
*.dbproj.schemaview

/task-management-app.client/node_modules/
/task-management-app.client/build/
/task-management-app.client/dist/
/task-management-app.client/dist-ssr/
*.local
*.env
/task-management-app.client/npm-debug.log*
yarn-debug.log*
yarn-error.log*

/task-management-app.client/.vscode/
*.vs/
*.vscode/*

.DS_Store
Thumbs.db